<html>
  <head>
    <title>VueJS Lessons</title>
    <link rel="stylesheet" href="styles.css">
    <script src="vue.js"></script>
  </head>
  <body>

    <!-- first lesson segment -->
    <!-- <div id="exercise">
      1. Fill the <p> below with your name and age - using interpolation
      <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
      <div>
        <span>Name: </span><input type="text" v-on:input="newName">
      </div>
      <div>
        <span>Age: </span><input type="text" v-on:input="newAge">
      </div>
      2. Output your age multiplied by 3
      <p>{{age * 3}}</p>
      3. Call a function to output a random float between 0 and 1
      <p> {{ randomInt() }} </p>
      4. Search any image on Google and output it here by binding the "src" attribute
      <div>
        <img v-bind:src="image" style="width:100px;height:auto">
      </div>
      5. Pre-populate this input with your name (set the "value" attribute)
      <div>
        <input v-bind:value="name" type="text">
      </div>
    </div> -->

    <!-- Lessons on events
    <div id="app"  v-on:mousemove="updateCoordinates">
      $event is a special thing in VueJS
      <button v-on:click="increase(5, $event)">Click me</button>
      simple JS expressions (no if's, for's, etc)
      <button v-on:click="counter++">Click me</button>
      I can also do Ternary in here
      <p>{{ counter  > 10 ? 'Greater than 10' : 'Smaller than 10'}}</p>
      <p>Coordinates - {{ x }} / {{ y }}
        An event modififer, that stops propagation
      - <span v-on:mousemove.stop=''>DEAD ZONE</span></p>
      <input type="text" v-on:keyup.enter.space="alertMe">
    </div> -->

    <!-- <div id="exercise2">
      1. Show an alert when the button is pressed.
      <div>
        <button v-on:click="showAlert">Show Alert</button>
      </div>

      2. Listen to the 'keydown' event and store the value in a data property (hint: event.target.value gives you the value)
      <div>
        <input type="text" v-on:keydown="storeValue">
        <p>{{ value }}</p>
      </div>

      3. Adjust the example from 2) to only fire if the "keydown" event is the ENTER key
      <div>
        <input type="text" v-on:keydown.enter="storeValue">
        <p>{{ value }}</p>
      </div>
    </div> -->

    <!-- two way binding -->
    <!-- <div id="app">
      two way databinding using v-model
      <input type="text" v-model="name">
      <p>{{ name }}</p>
    </div> -->

    <!-- <div id="app">
      <button v-on:click='counter++'>Increase</button>
      <button v-on:click='counter--'>Decrease</button>
      <p>Counter: {{ counter }}</p>
      <p>Result: {{ result() }}</p>
    </div> -->
    <!-- <div id="exercise3">
      <div>
        1. Show a result of "not there yet" as long as "value" is not equal to 37 - you can change the "value" with buttons. Print "done" once you have done it.
        <p>Current Value {{ value }}</p>
        <button @click="value += 5">Add 5</button>
        <button @click="value += 1">Add 5</button>
        <p> {{ result }}</p>
      </div>
      <div>
        2. Watch for changes in the "result" and reset the "value" after 5 seconds - hint: setTimeout(...,5000)
        <input type="text">
        <p>{{ value }}</p>
      </div>
    </div> -->

    <div id="app">
      <div
        class="demo"
        @click="attachRed = !attachRed"
        :class="divClasses"></div>
      <div
        class="demo"
        :class="{red: attachRed}"
        ></div>
      <div
        class="demo"
        :class="[color, {red: attachRed}]"
      ></div>
      <hr>
      <input type="text" v-model="color">
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
